.grade-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#grade-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #0f75bd;
    margin-bottom: 20px;
}

#grade-title #grade-icn {
    font-size: 25px;
}

#grade-table {
    border-collapse: separate;
    text-align: center;
    width: 60%;
    margin-bottom: 50px;
}

#grade-table tr {
    text-align: center;
    margin-bottom: 15px;
    background-color: #f7951d29;
    color: #f7941d;
}

#grade-table td {
    text-shadow: rgba(0, 0, 0, 0.2) 1px 0 1px;
    text-align: center;
}

#table-header {
    background-color: #f7941d;
    color: black;
}

#table-header th {
    padding: 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 0 1px;
    text-align: center;
    font-size: 22px;
}