* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-padding-nav {
    padding: 16px;
}

#header-container .header-nav {
    background-color: #1f8de4; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-logo-img {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 50%;
}

#header-container .header-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#header-container .header-nav ul li {
    display: inline-block;
    margin-right: 16px;
}

#header-container .header-nav ul li:last-child {
    margin-right: 0;
}

#header-container .header-nav ul li a, #header-container .header-nav ul li span {
    padding: 4px 8px;
    color: white;
    text-decoration: none;
}

#header-container .header-nav ul li a:hover,
#header-container .header-nav ul li span:hover {
    border-bottom: 1px solid #f7941d;
    color: #f7941d;
    cursor: pointer;
}
