
#glavniDivObavjestenja {
    padding:30px 30px;
    background-color: #0f75bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.okaciObavjestenje {
    padding:10px 20px;
    border-radius:20px;
    border: none;
    scale:1;
    transition: all 0.3s ease-in;
    color:#0f75bd;

}

.okaciObavjestenje:hover {
    scale:1.1;
    background-color: #f7941d;
    color:white;

}

#novoObavjestenjeLink {
    font-size:2rem;
    text-decoration: none;
    color: inherit;

}



#novoObavjestenjeLink:visited {
    color: inherit;
    text-decoration: none;
}

.obavjestenjaPredmet {
    background-color: #0f75bd;
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding:10px 10px;
    gap:50px;
}