.sviPredmetiObavjestenja {
    padding:30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    
}

#not-ttl {
    color: #0f75bd;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#not-icn {
    font-size: 25px;
    color: #0f75bd;
}