.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    color: #f7941d;
    text-decoration: none;
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #f7941d;
    color: #0f75bd;
    border-color: #f7941d;
}